#not do detection sample: 
#processname psid
swapper/0 0
systemd 1
kthreadd 2
ksoftirqd/0 3
kworker/0:0 4
kworker/0:0H 5
kworker/u256:0 6
rcu_sched 7
rcu_bh 8
migration/0 9
watchdog/0 10
kdevtmpfs 11
netns 12
perf 13
xenwatch 14
xenbus 15
kworker/0:1 16
khungtaskd 17
writeback 18
ksmd 19
khugepaged 20
crypto 21
kintegrityd 22
bioset 23
kblockd 24
ata_sff 25
md 26
devfreq_wq 27
kworker/u256:1 28
kswapd0 30
vmstat 31
fsnotify_mark 32
ecryptfs-kthrea 33
kthrotld 49
acpi_thermal_pm 50
khvcd 51
bioset 52
bioset 53
bioset 54
bioset 55
bioset 56
bioset 57
bioset 58
bioset 59
bioset 60
bioset 61
bioset 62
bioset 63
bioset 64
bioset 65
bioset 66
bioset 67
bioset 68
bioset 69
bioset 70
bioset 71
bioset 72
bioset 73
bioset 74
bioset 75
scsi_eh_0 76
scsi_tmf_0 77
scsi_eh_1 78
scsi_tmf_1 79
kworker/u256:2 80
ipv6_addrconf 84
kworker/u256:3 85
bioset 88
deferwq 99
charger_manager 100
kworker/0:2 134
bioset 141
bioset 142
bioset 143
bioset 144
kpsmoused 145
bioset 146
kworker/0:3 147
bioset 148
bioset 149
bioset 150
ttm_swap 151
kworker/0:1H 176
jbd2/xvda1-8 178
ext4-rsv-conver 179
kworker/0:4 213
kworker/0:5 215
systemd-journal 219
kworker/0:6 220
kworker/0:7 222
kworker/0:8 224
kauditd 229
systemd-udevd 247
systemd-timesyn 428
avahi-daemon 570
ModemManager 574
systemd-logind 575
rsyslogd 580
dbus-daemon 588
avahi-daemon 607
NetworkManager 618
cupsd 622
cups-browsed 630
whoopsie 632
cron 636
accounts-daemon 637
anacron 638
acpid 654
lightdm 673
polkitd 674
colord 702
sshd 708
Xorg 760
agetty 762
agetty 763
dhclient 794
systemd 861
(sd-pam) 863
gnome-keyring-d 869
lightdm 920
rtkit-daemon 991
@
upowerd 1005
systemd 1026
(sd-pam) 1027
dbus 1031
gnome-keyring-d 1034
upstart 1036
upstart-udev-br 1123
dbus-daemon 1124
window-stack-br 1136
ibus-daemon 1163
upstart-dbus-br 1182
upstart-dbus-br 1183
upstart-file-br 1187
gvfsd 1195
gvfsd-fuse 1200
ibus-dconf 1209
ibus-ui-gtk3 1210
gpg-agent 1212
ibus-x11 1215
at-spi-bus-laun 1246
dbus-daemon 1253
at-spi2-registr 1256
bamfdaemon 1257
ibus-engine-sim 1260
hud-service 1279
unity-settings- 1281
gnome-session-b 1291
unity-panel-ser 1293
compiz 1304
indicator-messa 1324
indicator-bluet 1328
indicator-power 1329
indicator-datet 1333
indicator-keybo 1334
indicator-sound 1337
indicator-print 1342
indicator-sessi 1343
pulseaudio 1363
indicator-appli 1376
evolution-sourc 1392
dconf-service 1399
nm-applet 1429
unity-fallback- 1430
vino-server 1439
polkit-gnome-au 1443
gnome-software 1444
nautilus 1453
gvfs-udisks2-vo 1458
udisksd 1461
gvfs-gphoto2-vo 1470
gvfs-mtp-volume 1475
gvfs-afc-volume 1483
gvfs-goa-volume 1489
evolution-calen 1498
fwupd 1507
gvfsd-trash 1512
evolution-calen 1524
evolution-calen 1533
evolution-addre 1536
evolution-addre 1562
gvfsd-metadata 1574
dbus 1603
dnsmasq 1610
aptd 1647
notify-osd 1865
zeitgeist-datah 1876
sh 1883
zeitgeist-daemo 1887


